
.content-notification{
    width: 95%;
    height: 60px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notif{
    display: flex;
    align-items: center;
}

.msj-notif{
    font-weight: 400;
}

.time-notif{
    font-weight: 400;
    color: #aaa;
}

.img-notification{
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

@media screen and (max-width:800px){
    .img-notification{
        margin-right: 0;
        margin-left: 5px;
    }
}