.header-user{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 24px;
}
.content-perfil-img{
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.perfil-img{
    border-radius: 50%;
}
.info-user{
    display: flex;
    align-items: center;
    margin-bottom:24px;
}
.username-user{
    font-weight: 300;
}
.content-info-user{
    width:65%;
}
.info-user .verify{
    width: 20px;
    margin-left: 5px;
}
.info-user .point{
    width: 5px;
    height: 5px;
}
.info-user.stats{
    width: 400px;
    justify-content: space-between;
}
.stats-user{
    font-size: 15px;
}
.username-name{
    font-size:0.8em;
    font-weight: 500;
}
.description-user{
    width: 95%;
    font-size:0.8em;
}
.web-user{
    font-size:0.8em;
    color:#436686 !important;
    font-weight: bold;
}

.posts-user{
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px solid #dbdbdb;
}

.dark .posts-user, .dark .info-user.stats.mobile{
    border-top: #525151 1px solid;
}

.posts-user-public{
    width: 100%;
    margin-top: -1px;
    font-size:0.7em;
    font-weight: 600;
    display: flex;
    justify-content: center;
}

.content-public{
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: #525151 1px solid;
    padding: 10px 0;
}

.dark .content-public{
    border-top: 1px solid #dbdbdb;
}


.post-user{
    width: 31%;
    height: 31%;
    margin-bottom: 3%;
}

.content-user-description{
    width: 95%;
    margin: 0 auto;
}

@media screen and (max-width: 800px){        
    .header-user{
        align-items: center;
    }
    .content-perfil-img{
        width: 20%;
    }
    .perfil-img{
        width: 77px;
        height: 77px;
    }
    .info-user.stats.mobile{
        display: flex !important;
        width: 100%;
        justify-content: space-around;
        border-top: 1px solid #dbdbdb;
        margin-bottom: 0;
        padding: 10px 0;
    }

    .stats-user{
        font-size: 14px;
        margin: 0;
        text-align: center;
        color: #969595;
    }
    .stats-user b{
        color: #2f2f2f;
    }
    .dark .stats-user b{
        color: #dbdbdb;
    }

    .posts-user{
        width: 100%;
    }

    .content-public{
        border: none !important;
    }
    .post-user{
        width:33%;
        margin-bottom: 0.5%;
    }

}


@media screen and (max-width:650px){
    .header-user{
        padding-top: 24px;
    }
}