.header-user{
    margin: 0 auto;
    display: flex;
    margin-bottom: 24px;
}
.content-perfil-img{
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.perfil-img{
    border-radius: 50%;
}
.info-user{
    display: flex;
    align-items: center;
    margin-bottom:24px;
}
.username-user{
    font-weight: 300;
}
.content-info-user{
    width:65%;
}
.info-user .verify{
    width: 20px;
    margin-left: 5px;
}
.info-user .point{
    width: 5px;
    height: 5px;
}
.info-user.stats{
    width: 400px;
    justify-content: space-between;
}
.stats-user{
    font-size: 15px;
}
.username-name{
    font-size:0.8em;
    font-weight: 500;
}
.description-user{
    width: 95%;
    font-size:0.8em;
}
.web-user{
    font-size:0.8em;
    color:#436686 !important;
    font-weight: bold;
}

.posts-user{
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px solid #dbdbdb;
}

.dark .posts-user{
    border-top: #525151 1px solid;
}

.posts-user-public{
    width: 100%;
    margin-top: -1px;
    font-size:0.7em;
    font-weight: 600;
    display: flex;
    justify-content: center;
}

.content-public{
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: #525151 1px solid;
    padding: 10px 0;
}

.dark .content-public{
    border-top: 1px solid #dbdbdb;
}


.post-user{
    width: 31%;
    margin-bottom: 3%;
}