.content-directs{
    width: 100%;
    max-width: 90vw;
    margin: 0 auto;
    height: 80vh;
    border: 1px solid #dbdbdb;
    display: flex;
}

.dark .content-directs{
    border: 1px solid #525151;
}

.content-list-directs{
    width: 40%;
}

.content-directs-header{
    display: flex;
    justify-content: flex-end;
    padding: 12px 0;
    border-bottom: 1px solid #dbdbdb;
}

.dark .content-directs-header{
    border-bottom: 1px solid #525151;
}

.directs-header{
    width: 55%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.directs-header h5{
    font-size: 15px;
    font-weight: 500;
}
