.content-directs{
    width: 100%;
    max-width: 95vw;
    margin: 0 auto;
    height: 85vh;
    border: 1px solid #dbdbdb;
    display: flex;
}

.dark .content-directs{
    border: 1px solid #525151;
}

.content-list-directs{
    width: 40%;
    overflow-y: auto;
}

.content-directs-header{
    display: flex;
    justify-content: flex-end;
    padding: 12px 0;
    border-bottom: 1px solid #dbdbdb;
    height: 32px;
}

.dark .content-directs-header{
    border-bottom: 1px solid #525151;
}

.directs-header{
    width: 55%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.directs-header h5{
    font-size: 15px;
    font-weight: 500;
}

@media screen and (max-width: 800px){
    .content-directs{
        max-width: 100vw;
        border: none !important;
    }
    .content-list-directs{
        width: 100%;
    }

    .viewdirect{
        display: none;
    }
}