.content-navBar{
    position: fixed;
    top:0;
    width: 100%;
    background-color: #FFF;
    border-bottom: #CCC 1px solid;
    transition: all .3s ease; 
    z-index: 1;
}
.dark .content-navBar{
    background-color: #1e1e1e;
    border-bottom: #525151 1px solid;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.logo{
    display: flex;
    transition: all .3s ease;
}

.logo img{
    height: 1.9em;
}

.logo .imgs{
    height: 1.5em;
}

.dark .logo .letters{
    filter: invert();
}