.content-navBar{
    background-color: #FFF;
    border-bottom: #DDD 1px solid;
}
.dark .content-navBar{
    background-color: #111111;
    border-bottom: #555555 1px solid;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 0;
}

.logo{
    display: flex;
}

.logo img{
    height: 40px;
}

.logo .imgs{
    height: 32px;
}

.dark .logo .letters{
    filter: invert();
}