.content-navBar{
    position: fixed;
    top:0;
    width: 100%;
    background-color: #FFF;
    border-bottom: #dbdbdb 1px solid;
    transition: all .3s ease; 
    z-index: 1;
}
.dark .content-navBar{
    background-color: #1e1e1e;
    border-bottom: #525151 1px solid;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    max-width: 94vw !important;
}

.logo{
    width: 120px;
}

.dark .logo{
    filter: invert();
}

.content-button-navbar{
    width: 58px;
    display: flex;
    justify-content: right;
    align-items: center;
}

@media(max-width: 800px){
    .navbar{
        flex-direction: row-reverse;
        justify-content: space-between;
    }
}