.content-add-post{
    position: fixed;
    top: 0;
    left: calc(50% - 312px);
    width: 100%;
    max-width: 614px;
    margin: 0 auto;
    border: 1px solid #dbdbdb;
    background-color: #FFF;
}

.dark .content-add-post{
    border: #525151 1px solid;
    background-color: #1e1e1e;
}

.content-header-add-post{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-content: center;
    padding:16px 0;
    border-bottom: 1px solid #dbdbdb;
}

.content-header-add-post h5{
    margin-left: 5%
}

.dark .content-header-add-post{
    border-bottom: #525151 1px solid;
}

.content-desc-new-post{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    padding:16px;
    margin-bottom: 30px;
    box-sizing: border-box;
}

.text-add-post{
    width: 100%;
    margin: 0 5px;
    border: none;
    background-color: inherit;
    height: 40px;
    color: inherit;
}

.img-user-add-post{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.img-post-add-post{
    max-width: 48px;
    max-height: 48px;
}

@media screen and (max-width: 800px){
    .content-add-post{
        max-width: 100%;
        left: 0;
        border: none !important;
    }
    .content-header-add-post h5{
        margin-left: 10%
    }
    
}