.content-loading{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-loading-allpage{
  height: 100vh;
}

@keyframes ldio-wghgll2tit8 {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
.ldio-wghgll2tit8 div {
  left: 46.5px;
  top: 2.5px;
  position: absolute;
  animation: ldio-wghgll2tit8 linear 0.9803921568627451s infinite;
  background: #8a8d8f;
  width: 7px;
  height: 27px;
  border-radius: 2.97px / 2.97px;
  transform-origin: 3.5px 47.5px;
}.ldio-wghgll2tit8 div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.8986928104575164s;
  background: #8a8d8f;
}.ldio-wghgll2tit8 div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -0.8169934640522876s;
  background: #8a8d8f;
}.ldio-wghgll2tit8 div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.7352941176470588s;
  background: #8a8d8f;
}.ldio-wghgll2tit8 div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.6535947712418301s;
  background: #8a8d8f;
}.ldio-wghgll2tit8 div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.5718954248366013s;
  background: #8a8d8f;
}.ldio-wghgll2tit8 div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.49019607843137253s;
  background: #8a8d8f;
}.ldio-wghgll2tit8 div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.4084967320261438s;
  background: #8a8d8f;
}.ldio-wghgll2tit8 div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.32679738562091504s;
  background: #8a8d8f;
}.ldio-wghgll2tit8 div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.24509803921568626s;
  background: #8a8d8f;
}.ldio-wghgll2tit8 div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.16339869281045752s;
  background: #8a8d8f;
}.ldio-wghgll2tit8 div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.08169934640522876s;
  background: #8a8d8f;
}.ldio-wghgll2tit8 div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
  background: #8a8d8f;
}
.loadingio-spinner-spinner-0weqdade60oe {
  width: 32px;
  height: 32px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-wghgll2tit8 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.32);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-wghgll2tit8 div { box-sizing: content-box; }
/* generated by https://loading.io/ */