
.button{
    border: none;
    padding: 7px 10px;
    font-weight: 600 !important;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px !important;
    
}

.button:focus {outline:0;}

.follow{
    color: #fff;
    background-color: #0095f6;
    margin: 1px;
}

.unfollow{
    background: none;
    color: #262626;
    border: 1px solid #565656;
}

.dark .unfollow{
    color: #edefee;
    border: 1px solid #dbdbdb;
}