.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
    color: #262626;
    background-color: #FAFAFA;
    width: 100vw;
    height: 100vh;
  }

  .title-form{
      font-weight: bold;
      font-size: 3em;
      margin-bottom: 20px;
      width: 100%;
      text-align: center;
  }

  .form {
    width: 100vw;
    max-width: 380px;
    margin: auto;
    padding-right: 45px;
    padding-left: 45px;
    text-align: center;
    background-color: #FFF;
    border: 1px solid rgba(219,219,219,1);
    box-sizing: border-box;
  }

  .form .logo-login{
    width: 175px;
    margin: 22px 0;
  }

  .form input {
    outline: 0;
    background: #FAFAFA;
    width: 100%;
    border: 1px solid rgba(219,219,219,1);
    margin: 0 0 15px;
    padding: 9px 8px 7px 9px;
    box-sizing: border-box;
    font-size: 14px;
  }

  .form .button{
    width: 100%;
  }

  .form .divisor-login{
    width: 100%;
    display: flex;
    align-items: flex-end;
    color: rgba(0, 0, 0, .5);
    margin: 16px 0;
  }

  .form .divisor-login hr{
    width: 30%;
    background-color: none;
    border: 0.1px solid rgba(0, 0, 0, .1)
  }

  .form .login-google{
    font-size: 0.8em;
    font-weight: 500;
    cursor: pointer;
    margin: 16px 0;
  }

  
  .form .error{
    font-size: 0.7em;
    color: #ED4956;
    margin-bottom: 16px;
  }

  .form .forget-password{
    font-size: 0.7em;
    color: #00376B;
    margin-bottom: 16px;
  }

  .w100{
    width: 100%;
  }

  .login-no-account{
    margin: 10px auto;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 0.7em;
    color: #262626;
  }
  
  .login-no-account span{
    color: #0095F6;
    font-weight: 500;
    cursor: pointer;
  }