.light{
    color: #333333;
    background-color: #FAFAFA;
    transition: .3s ease all;
}

.dark{
    background-color: #333333;
    color: #edefee;
    transition: .3s ease all;
}

.content-app{
    width: 935px;
    max-width: 94vw;
    margin: 0 auto;
}

.relleno{
    padding-top: 70px;
}