.light{
    color: #262626;
    background-color: #FAFAFA;
    transition: .3s ease all;
}

.dark{
    background-color: #262626;
    color: #edefee;
    transition: .3s ease all;
}

.content-app{
    width: 935px;
    max-width: 100vw;
    margin: 0 auto;
}

.app{
    padding-top: 70px;
}

.footer{
    font-size: 0.6em;
    font-weight: 500;
    text-align: center;
    padding-top:24px;
    padding-bottom: 24px;
    color: #757474;
}

.dark .footer{
    color: #dbdbdb;
}

@media (max-width:800px){
    .footer{
        padding-bottom: 60px;
    }
}

@media screen and (max-width:650px){
    .app{
        padding-top: 50px;
    }
}