.content-comments-user{
    padding-top: 16px;
    max-height: 80vh;
    width: 100%;
    overflow-y: auto;
    margin-top: -50px;
}

.cont-comment-user{
    width: 100%;
    position: fixed;
    z-index: 1;
    bottom: 0;
    background-color: #FAFAFA;
}

.dark .cont-comment-user{
    background-color: #262626;
}