.icon{
    width: 1.1em;
    max-width: 25px;
    cursor: pointer;
    margin: 0 5px;
    padding: 5px;
    transition: all .3s ease;
    border-radius: 20%;
}

.dark .icon{
    filter: invert();
}

@media (max-width:800px){
    .content-buttons{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100vw;
        display: flex;
        justify-content: space-around;
        padding-top: 5px;
        background-color: #FFF;
        border-top: #CCC 1px solid;
    }
    
    .dark .content-buttons{
    background-color: #1e1e1e;
    border-top: #525151 1px solid;
    }
}